<div class="container">
    <div class="image">
        <img src="../assets/images/ptt_logo.png" alt="logo station">
    </div>

    <div class="card">
        <div class="card-header header_h3">
            <h3>Annual Month Overal Date Of PPT</h3>
        </div>
        <div class="ptt_total">
            <app-total [total_value]='total_status'></app-total>
        </div>
        <div class="card-header header_h3 mb-4">
            <h3>Data From each Brand</h3>
        </div>
        <div class="ptt_brand" app-branch>
            <div *ngFor="let data of title">
                <h5 style="margin: 0; color: blue; font-weight: bold;     background-color: rgba(0,0,0,.03);">{{data}}</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Week</th>
                            <th scope="col">Regular</th>
                            <th scope="col"></th>
                            <th scope="col">Diesel</th>
                            <th scope="col"></th>
                            <th scope="col">Premuim</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr app-week-row [week_value]='this.generationBranch()' *ngFor="let week of [1,2,3,4] index as i" [index]='i'>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
