<!-- for week row -->
<th scope="row">
    {{week_value.name}} {{index+1}}
</th>
<td>{{week_value.regular.used}}/{{week_value.regular.available}}</td>
<td>{{week_value.regular.used/week_value.regular.available | percent }}</td>
<td>{{week_value.diesel.used}}/{{week_value.diesel.available}}</td>
<td>{{week_value.diesel.used/week_value.diesel.available | percent }}</td>
<td>{{week_value.premium.used}}/{{week_value.premium.available}}</td>
<td>{{week_value.premium.used/week_value.premium.available | percent }}</td>
