<!-- card for total -->
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-1">
        <div class="card card_style">
            <h6 class="card-header" [ngStyle]="{'background':total_value[0].used/total_value[0].available*100 >= 70 ? 'red' : '#28a745' }">Regular</h6>
            <div class="container_total">
                <div>
                    <span>{{total_value[0].used}}</span> /
                    <span>{{total_value[0].available}} </span>
                    <span>({{total_value[0].used/total_value[0].available| percent:'.2'}})</span><br>
                    <span class="buttom_tiile">Untilization of Regular</span>
                </div>
            </div>
            <div class="progress">
                <div [ngStyle]="{'background':total_value[0].used/total_value[0].available*100 >= 70 ? 'red' : '#28a745' }" role="progressbar" aria-valuenow="total_value[0].used/total_value[0].available*100" aria-valuemin="0" aria-valuemax="100" [style.width.%]="total_value[0].used/total_value[0].available*100">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 mb-1">
        <div class="card card_style">
            <h6 class="card-header" [ngStyle]="{'background':total_value[1].used/total_value[1].available*100 >= 70 ? 'red' : '#28a745' }">Diesel</h6>
            <div class="container_total">
                <div>
                    <span>{{total_value[1].used}}</span> /
                    <span>{{total_value[1].available}}</span>
                    <span> ({{ total_value[1].used/total_value[1].available | percent:'.2' }})</span><br>
                    <span class="buttom_tiile">Untilization of Diesel</span>
                </div>
            </div>
            <div class="progress">
                <div [ngStyle]="{'background':total_value[1].used/total_value[1].available*100 >= 70 ? 'red' : '#28a745' }" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="total_value[1].used/total_value[1].available*100"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 mb-1 ">
        <div class="card card_style">
            <h6 class="card-header" [ngStyle]="{'background':total_value[2].used/total_value[2].available*100 >= 70 ? 'red' : '#28a745' }">Premuim</h6>
            <div class="container_total">
                <div>
                    <span>{{total_value[2].used}}</span> /
                    <span>{{total_value[2].available}}</span>
                    <span> ({{ total_value[2].used/total_value[2].available | percent:'.2' }})</span><br>
                    <span class="buttom_tiile">Untilization of Premuim</span>
                </div>
            </div>
            <div class="progress">
                <div [ngStyle]="{'background':total_value[2].used/total_value[2].available*100 >= 70 ? 'red' : '#28a745' }" role="progressbar" aria-valuenow="total_value[2].used/total_value[2].available*100" aria-valuemin="0" aria-valuemax="100" [style.width.%]="total_value[2].used/total_value[2].available*100"></div>
            </div>
        </div>
    </div>
</div>
