/* You can add global styles to this file, and also import other style files */

.image img {
    width: 200px;
}

.ptt_total {
    /* background: lawngreen; */
    padding: 20px 0px;
}

.ptt_brand {
    /* background: red; */
}

.header_h3 h3 {
    color: yellowgreen;
    font-weight: bold;
    text-align: center;
}